
# dependencies
node_modules/

# parcel / build caches & outputs
.cache/
.parcel-cache/
dist/
coverage/

# logs & misc
*.log
.DS_Store

# env / secrets (if you ever add them)
.env

/package-lock.jsonnode_modules/
.cache/
.parcel-cache/
dist/
coverage/
*.zip
package-lock.json
